.site-container {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
}

.page-header, .order-info, .product-list {
    display: flex;
    justify-content: space-between;
}

.page-header {
    height: 50px;  
    background: #dcdcdc;
}

.title h2, .title p {
    margin: 0;
}

h2 {
    font-size: 20px;
}

.title p {
    color: #a9a9a9;
    font-size: 16px;
}
.arrow {
   margin-top: 5px;
   border: none;
   outline: none;
   background: none;
   color: #a9a9a9;
   font-size: 30px;
}

.printBtn {
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #000;
    color: #FFf;
    outline: none;
}

.customer-info, .order-info, .product-list, .page-header {
    border: 1px solid #a9a9a9;
    margin: 10px 0;
    padding: 10px 20px;
}

.customer-info p {
    margin: 10px 0;
}

.order-info {
    background: #a9a9a9;
}

.order-info p {
    margin: 10px 0 5px 0;
}

.img-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.img-check label {
    height: 20px;
    width: 20px;
}

.img-check img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.product-info {
    width: 60%;
    text-align: left;
}

.product-info h2, .product-info p {
    margin: 0;
}

.product-list .arrow {
    margin-top: 30px ;
}